@import "tailwindcss";

.container {
  max-width: 1880px;
  margin: 0 auto;
  padding: 60px;
}
@media (max-width: 640px) {
  .container {
    padding: 20px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 35px;
  }
}

.section-padding-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

html,
body {
  overflow-x: hidden;
}

@keyframes floatSoft {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-14px);
  }
}

.float-1 {
  animation: floatSoft 3s ease-in-out infinite;
}

.float-2 {
  animation: floatSoft 3s ease-in-out infinite;
  animation-delay: 2s;
}

.float-3 {
  animation: floatSoft 3s ease-in-out infinite;
  animation-delay: 2s;
}
